<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 border border-info border-top-0 mt-2">
     
      <%= form_with(url: admin_order_index_path, method: 'get') do |form| %>
        <div class="border-bottom border-info">
          <p>Status</p>

          <p><%= form.radio_button :status, '', onchange: 'this.form.submit();' %> 
          <%= form.label :status, 'All'%></p>

          <p><%= form.radio_button :status, 'in progress', checked: params[:status] == 'in progress', onchange: 'this.form.submit();' %>
          <%= form.label :status, "In progress" %></p>

          <p><%= form.radio_button :status, 'confirmed', checked: params[:status] == 'confirmed', onchange: 'this.form.submit();' %>
          <%= form.label :status, "Confirmed" %></p>

          <p><%= form.radio_button :status, 'waiting for payment', checked: params[:status] == 'waiting for payment', onchange: 'this.form.submit();' %>
          <%= form.label :status, "Waiting for payment" %></p>

          <p><%= form.radio_button :status, 'paid', checked: params[:status] == 'paid', onchange: 'this.form.submit();' %>
          <%= form.label :status, "Paid" %></p>

          <p><%= form.radio_button :status, 'delivered', checked: params[:status] == 'delivered', onchange: 'this.form.submit();' %>
          <%= form.label :status, "Delivered" %></p>

          <p><%= form.radio_button :status, 'canceled', checked: params[:status] == 'canceled', onchange: 'this.form.submit();' %>
          <%= form.label :status, "Canceled" %></p>
        </div>

        <div class="border-bottom border-info">
          <p>Sort by</p>

          <p><%= form.radio_button :focus, '', checked: params[:focus] == '', onchange: 'this.form.submit();' %> 
          <%= form.label :focus, 'Recommended'%></p>
     
          <p><%= form.radio_button :focus, 'updated_at-desc', checked: params[:focus] == 'updated_at-desc', onchange: 'this.form.submit();' %> 
          <%= form.label :focus, 'Update (New-Old)'%></p>

          <p><%= form.radio_button :focus, 'updated_at-asc', checked: params[:focus] == 'updated_at-asc', onchange: 'this.form.submit();' %> 
          <%= form.label :focus, 'Update (Old-New)'%></p>
        </div>

        <div class="border-bottom border-info mt-3">
          <p><%= form.text_field :phone_number, placeholder: 'Enter phone number' %></p>
          <p><%= form.submit 'Search', class: 'btn bg-info rounded-0'%></p>
        </div>        
      <% end %>
    </div>
    <div class="col-md-10 mt-2">
     <table class="table table-bordered border-info">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Total price</th>
            <th>Status</th>
            <th>Updated at</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.total_price %> $</td>
              <td><%= order.status %></td>
              <td><%= order.updated_at %></td>
              <td><%= link_to 'The order information', edit_admin_order_path(order), class: 'btn btn-sm bg-info rounded-0' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


  
