<%= link_to "Continue shopping", mirrors_path %>

<div class="container-fluid">
<div class="row">
    <div class="col-md-4">
<% @order_items.each do |order_item| %>

  <p> <%= order_item.mirror.name %> </p>

  <% if order_item.mirror.mirror_images.attached?%>
          <%  order_item.mirror.mirror_images.map do |mirror_image|%>
            <%=  image_tag mirror_image.variant(resize_to_limit: [218, 185]).processed %>
          <% end%>
  <% end%>

  <p> Height <%= order_item.height %> mm </p>
  <p> Width <%= order_item.width %> mm </p>
  <p> Glass thickness <%= order_item.glass_thickness %> mm </p>
  <p> <%= order_item.light.capitalize %> light  </p>
  <p> <%= order_item.heater == true ? "With heater" : "Without heater" %> </p>
  <p> Unit price: <%= order_item.unit_price %> $</p>
  <p> Quantity: <%= order_item.quantity %> </p>
  <p> Total price <%= current_order.total_price %> $</p>
<% end %>

<p> <%= link_to "Edit the order", order_path%> </p>

</div>
<div class="col-md-4">

<p>Delivery information</p>

<%if @delivery.delivery_type == 'Delivery to the post office'%>
<p> <%= @delivery.delivery_type %> 
<%= @delivery.post %>
number <%= @delivery.post_office_number %>
in <%= @delivery.city %>
<%= @delivery.region %> </p>
<p> Receiver:
<%= @delivery.receiver_name %>
<%= @delivery.receiver_surname %> </p>
<p> Receiver phone number:
<%= @delivery.receiver_phone_number %> </p>
<%else%>
<p> Delivery by 
<%= @delivery.post %> 
courier to the address of
<%= @delivery.region %>, 
<%= @delivery.city %>, 
<%= @delivery.receiver_address %>  </p>
<p> Receiver:
<%= @delivery.receiver_name %>
<%= @delivery.receiver_surname %> </p>
<p> Receiver phone number:
<%= @delivery.receiver_phone_number %> </p>
<% end %>

<p> <%= link_to "Edit delivery information", edit_delivery_path%> </p>


<p> Buyer Information </p>
<p> Buyer name:
<%= @user.name %> </p>
<p> Buyer phone number:
<%= @user.phone_number %> </p>

<p><%= link_to "Edit buyer information", edit_user_path(redirect: order_verification_path) %></p>

</div>
</div>
</div>

<p> <%= button_to 'Confirm the order', order_confirm_path, method: :post, class: 'btn bg-success text-black' %> </p>




