<div class="container-fluid">
  <div class="card border border-info rounded-0 mt-2">
    <div class="card-body px-5">
      <div class="row">
        <div class="col-md-4">
          <p> Status <%= @order.status %> </p>
          <p> Total price <%= @order.total_price %> $</p>
        </div>

        <div class="col-md-4">
          <p> Order number <%= @order.id %> </p>
          <p> Update date <%= @order.updated_at.strftime('%d-%m-%Y') %> </p>        
        </div>
      </div>
    </div>
  </div>  
      
  <% @order_items.each do |order_item| %>
    <div class="card border border-info rounded-0 mt-2">
      <div class="card-body px-5">
        <div class="row">
          <div class="col-md-4 mt-2">
            <% if order_item.mirror.mirror_images.attached?%>
              <%= image_tag order_item.mirror.mirror_images.first.variant(resize_to_limit: [218, 185]).processed  %>
            <% end%>       
          </div>

          <div class="col-md-4 mt-2" >
            <p> <%= order_item.mirror.name %> </p>
            <p> Height <%= order_item.height %> mm </p>
            <p> Width <%= order_item.width %> mm </p>
            <p> Glass thickness <%= order_item.glass_thickness %> mm </p>
            <p> <%= order_item.light.capitalize %> light  </p>
            <p> <%= order_item.heater == true ? "With heater" : "Without heater" %> </p>
          </div>

          <div class="col-md-3 mt-2" >
            <p> Unit price: <%= order_item.unit_price %> $</p>
            <p> Quantity: <%= order_item.quantity %> </p>
          </div>          
        </div>
      </div>
    </div>
  <% end %>
 
  <div class="card border border-info rounded-0 mt-2">
    <div class="card-body px-5">
      <div class="fw-bold text-end mx-3">Total price <%= current_order.total_price %>$</div>
      <div class="d-flex justify-content-end mx-3">
        <% if @order.status == 'in progress' %>
            <div> <%= link_to "Edit the order", order_path, class: 'btn bg-info rounded-0'%> </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card border border-info rounded-0 mt-2">
    <div class="card-body px-5">
      <% if @delivery.nil? %>
        <div class="fs-4">Delivery information missing</div>
      <% else %>
        <div class="fs-4">Delivery information</div>
        <% if @delivery.delivery_type == 'Delivery to the post office' %>
          <div>
            <%= @delivery.delivery_type %>
            <%= @delivery.post %>
            number <%= @delivery.post_office_number %>
            in <%= @delivery.city %>,
            <%= @delivery.region %> region
          </div>
          <div>
            Receiver:
            <%= @delivery.receiver_name %>
            <%= @delivery.receiver_surname %>
          </div>
          <div>
            Receiver phone number:
            <%= @delivery.receiver_phone_number %>
          </div>
        <% else %>
          <div>
            Delivery by
            <%= @delivery.post %>
            courier to the address of
            <%= @delivery.region %> region,
            <%= @delivery.city %>,
            <%= @delivery.receiver_address %>
          </div>
          <div>
            Receiver:
            <%= @delivery.receiver_name %>
            <%= @delivery.receiver_surname %>
          </div>
          <div>
            Receiver phone number:
            <%= @delivery.receiver_phone_number %>
          </div>
        <% end %>
        <% if @order.status == 'in progress' %>
          <div> <%= link_to "Edit the delivery information", edit_delivery_path(@order), class: 'btn bg-info rounded-0'%> </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
    
    
