<div class="container mx-3">
  <p class="fs-4">Edit delivery information</p>
  
  <%= form_with model: [@order, @order.delivery], url: update_delivery_path do |form| %>
    <div class="row">
      <div class="col-md-6">
        <p> <%= form.label :post %> 
        <%= form.select :post, [ 'Nova post', 'Ukrpost' ], {}, class: 'form-select'  %> </p>

        <p> <%= form.label :delivery_type %> 
        <%= form.select :delivery_type, ['Delivery to the post office', 'Delivery by courier'], {}, class: 'form-select'  %> </p>

        <p> <%= form.label :receiver_name %> 
        <%= form.text_field :receiver_name, class: 'form-control' %>
        <% @delivery.errors.full_messages_for(:receiver_name).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :receiver_surname %> 
        <%= form.text_field :receiver_surname, class: 'form-control' %>
        <% @delivery.errors.full_messages_for(:receiver_surname).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :receiver_phone_number %> 
        <%= form.text_field :receiver_phone_number, placeholder: '+380 xxx xx xx xx', class: 'form-control' %>
        <% @delivery.errors.full_messages_for(:receiver_phone_number).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>
      </div>
    
      <div class="col-md-6">
        <p> <%= form.label :city %> 
        <%= form.text_field :city, class: 'form-control' %>
        <% @delivery.errors.full_messages_for(:city).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :region %> 
        <%= form.text_field :region, class: 'form-control' %>
        <% @delivery.errors.full_messages_for(:region).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :receiver_address %> 
        <%= form.text_field :receiver_address, class: 'form-control' %>
        <% @delivery.errors.full_messages_for(:receiver_address).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :post_office_number %> 
        <%= form.text_field :post_office_number, class: 'form-control' %>
        <% @delivery.errors.full_messages_for(:post_office_number).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>
      </div>
    </div>  
    <%= form.submit "Update delivery information", class: 'btn bg-info rounded-0' %>
  <% end %>
</div>

