
<% if @mirror.errors.full_messages.any?%>
  <% @mirror.errors.full_messages.each do |error| %>
    <ul class="alert alert-danger"><%= error %></ul>
  <% end %>
<% end %>

<h4>New</h4>



<%= form_with model: [:admin, @mirror] do |form| %>
  
<p> <%= form.label :name %> 
<%= form.text_field :name %> </p>

<p> <%= form.label :height %> 
<%= form.select :height, [50, 80, 100] %> </p>

<p> <%= form.label :width %> 
<%= form.select :width, [50, 80]  %> </p>

<p> <%= form.label :glass_thickness %> 
<%= form.select :glass_thickness, [4, 6] %> </p>

<p> <%= form.label :light %> 
<%= form.select :light, [ 'warm', 'neutral', 'cold' ] %> </p>

<p> <%= form.label :heater %>
<%= form.check_box :heater %> </p>

<p> <%= form.label :installation %>
<%= form.select :installation, [ 'wall', 'table' ] %> </p>

<p> <%= form.label :lamp %>
<%= form.select :lamp, [ 'built-in', 'outside' ]  %> </p>

<p> <%= form.label :price_square %> 
<%= form.text_field :price_square %> </p>

<p> <%= form.label :mirror_images %> </p>
<p><%= form.file_field :mirror_images, multiple: true %> </p>

<%= form.submit "Create", class: 'btn bg-success text-black' %>

<% end %>
