<%= link_to "All mirrors", mirrors_path %>
<h4>Edit</h4>

<%= form_with model: @mirror do |form| %>
  
<p><%= form.label :name %> 
<%= form.text_field :name %> </p>

<p><%= form.label :height %> 
<%= form.select :height, [50, 80, 100], {}, { onchange: 'this.form.submit();' }  %> 
<%= form.submit type: :hidden %></p>

<p><%= form.label :width %>
<%= form.select :width, [50, 80], {}, { onchange: 'this.form.submit();' }  %> 
<%= form.submit type: :hidden %></p>

<p><%= form.label :glass_thickness %>
<%= form.select :glass_thickness, [4, 6], {}, { onchange: 'this.form.submit();' } %>
<%= form.submit type: :hidden %></p>

<p><%= form.label :light %> 
<%= form.select :light, [ 'warm', 'neutral', 'cold' ] %> 

<p><%= form.label :heater %>
<%= form.check_box :heater, { onchange: 'this.form.submit();' } %> 
<%= form.submit type: :hidden %></p>

<p> <%= form.label :installation %>
<%= form.select :installation, [ 'wall', 'table' ] %> </p>

<p> <%= form.label :lamp %>
<%= form.select :lamp, [ 'built-in', 'outside' ]  %> </p>


<p><%= form.label :price_square %> 
<%= form.text_field :price_square %> $ per square meter </p>

<p> <%= form.label :mirror_images %> </p>
<p><%= form.file_field :mirror_images, multiple: true %> </p>

<%= form.submit "Update", class: 'btn bg-success text-black' %>

<% end %>

<p>Price <%= @mirror.price %>
