<%= link_to "All mirrors", mirrors_path %>

 <% if current_user.present? && current_user.admin?%>
<%= link_to "Edit", edit_admin_mirror_path(@mirror) %>

<%= link_to "Destroy", admin_mirror_path(@mirror), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?" 
                                      } %>
  <%end%>

<p> <%= @mirror.name %> </p> 

 <p> <% if @mirror.mirror_images.attached?%>
    <% @mirror.mirror_images.each do |mirror_image| %>
    <%= image_tag mirror_image %>
    <%end%>
  <%end%> </p>

<p> Price from
<%= (@mirror.price_square*0.25).round %>$ </p>

<% if current_user.present? %>
<%= form_with model: @order_items do |form| %>
<p><%= form.hidden_field :mirror_id, value: @mirror.id %> 
<%= form.number_field :quantity, in: 1.0..20.0, step: 1, value: 1  %>
<%= form.submit "Add to cart", class: 'btn bg-success text-black' %></p>
<%end%>
<% else %>
<p><%= link_to "Sign up to add to cart", new_user_path %></p>
<p><%= link_to "Log in to add to cart", new_session_path %></p>

<%end%>

<p><%= link_to "Price calculator", patch_calculation_path(@mirror) %></p>

<p> <%= @mirror.description %> </p>



