<div class="container mx-3">
  <p class="fs-4 mt-2">Edit the user infotrmation</p>

  <p> ID: <%= @user.id %> </p>
  <p> Phone number: <%= @user.phone_number %> </p>
  <p> Name: <%= @user.name %> </p>
  <p> Email: <%= @user.email %> </p>

  <% unless @current_user == @user%>
    <%= form_with model: [:admin, @user] do |form| %>
      <p> <%= form.label :admin %>
      <%= form.check_box :admin, checked: @user.admin? %> </p>
      <%= form.submit "Update the user infotrmation", class: 'btn bg-info rounded-0' %>
    <% end %>
  <% end %>
</div>
