<h4>Create a new user</h4>

<%= form_with model: [:admin, @user] do |form| %>

<p> <%= form.label :email %> 
<%= form.email_field :email %>
<% @user.errors.full_messages_for(:email).each do |message|  %>
  <%= message %>
<% end %> </p>

<p> <%= form.label :name %> 
<%= form.text_field :name %> 
<% @user.errors.full_messages_for(:name).each do |message|  %>
  <%= message %>
<% end %> </p>

<p> <%= form.label :phone_number %> 
<%= form.text_field :phone_number, placeholder: '+380 xxx xx xx xx' %> 
<% @user.errors.full_messages_for(:phone_number).each do |message|  %>
  <%= message %>
<% end %> </p>

<p> <%= form.label :password %> 
<%= form.password_field :password  %> 
<% @user.errors.full_messages_for(:password).each do |message|  %>
  <%= message %>
<% end %> </p>

<p> <%= form.label :password_confirmation %> 
<%= form.password_field :password_confirmation %> </p>
<p> <% @user.errors.full_messages_for(:password_confirmation).each do |message|  %>
<div class="alert alert-danger"><%= message %></div>
<% end %> </p>


<p> <%= form.label :admin %>
<%= form.check_box :admin %> </p>

<%= form.submit "Sign up", class: 'btn bg-success text-black' %>

<% end %>
