<div class="container mx-3">
  <p class="fs-4 mt-2">Create a new user</p>

  <%= form_with model: [:admin, @user] do |form| %>
    <div class="row">
      <div class="col-md-6">
        <p> <%= form.label :email %> 
        <%= form.email_field :email, class: 'form-control' %>
        <% @user.errors.full_messages_for(:email).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :name %> 
        <%= form.text_field :name, class: 'form-control' %> 
        <% @user.errors.full_messages_for(:name).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :phone_number %> 
        <%= form.text_field :phone_number, placeholder: '+380 xxx xx xx xx', class: 'form-control' %> 
        <% @user.errors.full_messages_for(:phone_number).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :password %> 
        <%= form.password_field :password, class: 'form-control'  %> 
        <% @user.errors.full_messages_for(:password).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :password_confirmation %> 
        <%= form.password_field :password_confirmation, class: 'form-control' %> </p>
        <p> <% @user.errors.full_messages_for(:password_confirmation).each do |message|  %>
          <div class="text-danger"><%= message %></div>
        <% end %> </p>

        <p> <%= form.label :admin %>
        <%= form.check_box :admin %> </p>

        <%= form.submit "Sign up", class: 'btn bg-info rounded-0' %>
      </div>
    </div>
  <% end %>
</div>
